<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNWfUOYmjAcBZsRWM1WoQpBbkSMQh5bL0</string>
	<key>GCM_SENDER_ID</key>
	<string>1049867308879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.burhan.techswivel.mbmwTask2</string>
	<key>PROJECT_ID</key>
	<string>mbmwtask2</string>
	<key>STORAGE_BUCKET</key>
	<string>mbmwtask2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049867308879:ios:dcaf1805dccba158e6bf3a</string>
</dict>
</plist>